<main class="form-signin w-100 m-auto">
    <form hx-post="/register">
        <img class="mb-4" src="/images/logo_correia.png" alt="corr3ia.com.br" width="70" height="70">

        <h1 class="h3 mb-3 fw-normal">Informe seu E-mail e Senha!</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
            <label for="email">Email...</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Informe a senha..." required>
            <label for="password">Senha...</label>
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="rememberme">
            <label class="form-check-label" for="rememberme">
               Permanecer logado
            </label>
        </div>

        <input type="hidden" name="_csrf" value="{{.csrfToken}}">
        <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Correia</p>
    </form>
</main>
