<!DOCTYPE html>

<html lang="pt-BR" data-bs-theme="auto">

<head>
    {{template "head" .}}
    <link rel="stylesheet" href="style/auth.css?v=1">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    {{template "theme" }}

    {{embed}}

    {{template "scripts" .}}
</body>

</html>
